nav a{
    text-decoration: none !important;
    margin-right: 25px;
    font-size: xx-large;
    color: rgb(163, 248, 251);
}
.navbar-collapse{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.py-5{
    color: rgb(151, 234, 234);
}
/* .navbar-toggler{
    color: rgb(151, 234, 234);;
} */
.py-5{
    align-items: end;
}